@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  background-color: var(--dark-blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  cursor: default;
  margin: 0 auto;
}

.container {
  padding: 24px;
  position: relative;
  border-radius: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  max-width: 500px;
  background-color: var(--dark-grayish-blue);
}

.advice-number {
  color: var(--neon-green);
  font-size: 16px;
  padding-bottom: 24px;
  letter-spacing: 4px;
}

.advice {
  color: var(--light-cyan);
  font-size: 28px;
}

.hr-wrap {
  padding-top: 24px;
  padding-bottom: 24px;
}

.new-advice-wrap {
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  background-color: var(--neon-green);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.new-advice-wrap:hover {
  box-shadow: var(--neon-green) 0px 0px 35px;
}

@media only screen and (max-width: 375px) {
  body,
  html {
    width: 100%;
    overflow: hidden;
  }
  .new-advice-wrap:hover {
    box-shadow: none;
  }
}
